@import './../CSSReset.css';
@import './../App.scss';

.Login {
	@include Modal-Container();
	font-family: 'Roboto Condensed', sans-serif;
	display: flex;
	flex-direction: column;
	&__Greeting {
		margin-bottom: 30px;
		user-select: none;
		h4 {
			font-weight: bold;
			font-size: 2rem;
			color: $heading;
			margin: 0 auto;
		}
		p {
			font-size: 1.5rem;
			color: $accent;
			margin: 0 auto;
		}
	}
	&__Form {
		display: flex;
		flex-direction: column;
		width: 300px;
		margin: 0 auto;
	}
	&__Label {
		margin: 20px 0 5px;
		font-size: 1.2rem;
		color: $heading;
		font-weight: 500;
	}
	&__Input {
		border: 0;
		border-bottom: 2px solid $heading;
		color: $heading;
		font-size: 1rem;
	}
	&__Input:focus {
		outline: none;
		border-color: hsl(205, 100%, 60%);
	}
	&__Submit {
		margin: 40px 0 20px;
		padding: 15px 0;
		cursor: pointer;
		border: none;
		border-radius: 7px;
		color: $text;
		background-color: $accent;
		font-size: 1.1rem;
		transition: background-color 0.5s;
	}
	&__Submit:hover {
		background-color: $hover;
	}

	.Signup__Link {
		margin-top: 5px;
		font-size: 1rem;
		color: $alttext;
		span {
			color: $accent;
		}
		span:hover {
			color: $hover;
			cursor: pointer;
		}
	}
}

.Signup {
	@include Modal-Container();
	font-family: 'Roboto Condensed', sans-serif;
	display: flex;
	flex-direction: column;
	width: 300px;
	margin: 0 auto;
	&__Heading {
		font-weight: bold;
		font-size: 1.75rem;
		width: 275px;
		margin: 0 auto 25px;
		color: $heading;
		text-align: center;
		user-select: none;
		span {
			color: $accent;
		}
	}
	&__Label {
		margin: 20px 0 5px;
		font-size: 1.2rem;
		color: $heading;
		font-weight: 500;
	}
	&__Input {
		border: 0;
		border-bottom: 2px solid $heading;
		color: $heading;
		font-size: 1rem;
	}
	&__Input:focus {
		outline: none;
		border-color: $accent;
	}
	&__Submit {
		margin: 40px 0 0px;
		padding: 15px 0;
		cursor: pointer;
		border: none;
		border-radius: 7px;
		color: hsl(205, 100%, 100%);
		background-color: $accent;
		font-size: 1.1rem;
	}
	&__Submit:hover {
		background-color: $hover;
	}
}

.Close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.Close:hover {
	color: $accent;
}

.LoginError {
	width: 100vw;
	height: 95vh;
	display: flex;
	justify-content: center;
	align-items: center;
	h5 {
		font-size: 40px;
	}
}

.Error {
	margin-top: 5px;
	color: $error;
	font-size: 12px;
}
