@import './../CSSReset.css';
@import './../App.scss';

.Events {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: auto;
	.Events__ItemList:first-child {
		margin-top: 40px;
	}
	.Events__ItemList {
		display: flex;
		flex-wrap: wrap;
		// width: 100%;
		margin-left: 5%;
		color: $text;
		user-select: none;
		.Events__Month {
			font-size: 3rem;
			font-weight: bold;
			width: 100vw;
			height: 5rem;
			margin: 20px 0 10px;
			color: $alttext;
			font-family: 'Righteous', cursive;
		}
		.Events__Item {
			margin: 10px 20px;
			border-radius: 7px;
			width: 15rem;
			height: auto;
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
			overflow: hidden;
			text-align: center;
		}
		.Events__ItemOverlay {
			height: 100%;
			width: 100%;
			background: hsla(0, 0%, 0%, .4);
		}
		.Events__Date {
			padding-top: 20px;
			font-size: 1rem;
			font-weight: bold;
		}
		.Events__Name {
			font-size: 1rem;
			padding: 100px 0 5px 10px;
		}
		.Events__Location {
			font-size: 1rem;
			padding: 0 0 5px 10px;
		}
	}
}
