@import './../CSSReset.css';
@import './../App.scss';

.Footer {
	@include Center(space-between);
	font-size: 1rem;
	background-color: $heading;
	height: 5vh;
	width: 100vw;
	z-index: 10;
	p {
		font-size: clamp(0.55rem, 1vw, .75rem);
		padding-left: 30px;
		user-select: none;
		color: $text;
	}
	.Footer__Links {
		display: flex;
		justify-content: space-between;
		color: $text;
		padding-right: 50px;
		width: 400px;
		a {
			font-size: clamp(.9rem, 2vw, 1.25rem);
			color: $text;
			text-decoration: none;
			padding-left: 30px;
			font-weight: bold;
			transition: color 0.5s;
		}
		a:hover {
			cursor: pointer;
			color: $hover;
		}
	}
}

.Close {
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

.Close:hover {
	color: $hover;
}

.Contact {
	@include Modal-Container();
	display: flex;
	flex-direction: column;
	width: 400px;
	max-width: 50%;
	font-family: 'Roboto Condensed', sans-serif;
	&__Heading {
		display: flex;
		justify-content: center;
		user-select: none;
	}
	h4 {
		font-weight: bold;
		font-size: 3rem;
		color: $heading;
		text-align: center;
		margin: 0 10px 5px;
		font-family: 'Righteous', cursive;
	}
	h4:last-child {
		color: $accent;
	}
	&__Label {
		margin: 20px 0 5px;
		font-size: 1.2rem;
		color: hsl(0, 0%, 20%);
		font-weight: 500;
	}
	&__InputName,
	&__InputEmail,
	&__InputMessage {
		font-size: 16px;
		border: 2px solid $accent;
	}
	&__InputName {
		background: url('./user-icon.svg') no-repeat;
		background-size: 80% 120%;
	}
	&__InputEmail {
		background: url('./mail-icon.svg') no-repeat;
		background-size: 80% 80%;
	}
	&__InputName,
	&__InputEmail {
		padding: 10px 10px 10px 50px;
		background-position: -170% 50%;
		border: 0;
		border-bottom: 2px solid $heading;
		color: $alttext;
	}
	&__InputMessage {
		padding: 10px;
		border: 2px solid $heading;
		color: $alttext;
	}
	&__InputName:focus,
	&__InputEmail:focus {
		outline: 0;
		border-bottom: 2px solid $accent;
	}
	&__InputMessage:focus {
		outline: 0;
		border: 2px solid $accent;
	}
	textarea {
		font-family: 'Roboto Condensed', sans-serif;
		height: 200px;
		padding: 10px 0 0 10px;
		font-size: 16px;
		border-radius: 7px;
		resize: none;
	}
	&__Submit {
		margin: 25px auto 0;
		width: 175px;
		color: $text;
		font-size: 16px;
		font-weight: bold;
		background-color: $accent;
		border: none;
		border-radius: 7px;
		padding: 15px 5px;
		cursor: pointer;
	}
	&__Submit:hover {
		background-color: $hover;
		transition: background-color 0.5s ease;
	}
	&__Sent {
		@include Center();
		flex-direction: column;
		height: 300px;
		width: auto;

		p {
			margin-top: 35px;
			font-size: 20px;
			user-select: none;
		}
	}
	&__Image {
		background: url('./message-sent.svg');
		background-size: 100% 100%;
		height: 150px;
		width: 200px;
	}
}

.Safety-Container {
	@include Modal-Container();
	font-family: 'Roboto Condensed', sans-serif;
	h5 {
		margin-bottom: 20px;
		font-size: 1.25rem;
		text-align: center;
		color: $text;
		user-select: none;
	}
	p {
		font-size: 1rem;
		margin-bottom: 15px;
		user-select: none;
	}
	a {
		margin: 0 auto;
		color: $text;
		text-decoration: none;
	}
	a:hover {
		color: $hover;
	}
}

.Settings {
	@include Modal-Container();
	&__Roadmap {
		h1 {
			text-align: center;
			font-size: 30px;
			font-weight: bold;
			padding-bottom: 15px;
			text-decoration: underline;
		}
		ul {
			list-style: outside;
			padding: 0 5px;
		}
		li:first-child {
			text-decoration: line-through;
		}
	}
	h1:nth-child(3) {
		text-align: center;
		padding: 20px 10px 10px;
		font-size: 20px;
	}
}

.Error {
	margin-top: 5px;
	color: $error;
	font-size: 12px;
}
