@import './../CSSReset.css';
@import './../App.scss';

.Landing {
	@include Center(flex-end);
	flex-direction: column;
	background: hsla(0, 0, 0, 0.1);
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
	&__Background {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
		height: 105vh;
	}
	&__Caption {
		position: absolute;
		top: 35%;
		left: 20%;
		width: 3.125rem;
		color: $text;
		font-size: clamp(4rem, 7vw, 6rem);
		font-family: 'Righteous', cursive;
		animation: fadeIn 3s ease;
		user-select: none;
	}
	&__Box {
		@include Center();
		position: absolute;
		flex-direction: column;
		text-align: center;
		animation: bounce 3s ease-in-out infinite;
		animation-delay: 1s;
		background: $modal-bg;
		border-radius: 7px;
		width: 6.25rem;
		height: 3.75rem;
		user-select: none;
		transition: opacity 1s;
		p {
			width: 5rem;
			font-size: 14px;
			font-weight: bold;
			color: $alttext;
			letter-spacing: 1px;
		}
	}
	.HideBox {
		opacity: 0;
	}
	.Arrow {
		width: 1.5625rem;
		margin: .625rem 0 0;
	}
}

.Guide {
	@include Center();
	user-select: none;
	width: 100vw;
	height: 95vh;
	flex-direction: column;
	font-weight: bold;
	&__Title {
		margin: 5rem 0 1.25rem;
		font-size: clamp(1.5rem, 2vw, 2rem);
		text-decoration: underline;
	}
	&__List {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		width: 100vw;
	}
	&__Item {
		display: flex;
		flex-direction: column;
		margin: 1rem 0 0;
		width: 31.25rem;
		height: 18.75rem;
		h5 {
			font-size: clamp(1rem, 2vw, 1.5rem);
			text-align: center;
		}
	}
}

.Loading {
	height: 95vh;
	width: 100vw;
}

@keyframes bounce {
	0%,
	30%,
	50%,
	70%,
	100% {
		transform: translateY(0px);
	}
	40% {
		transform: translateY(-20px);
	}
	60% {
		transform: translateY(-10px);
	}
}
